<div class="container">
  <form [formGroup]="empleadoForm" (ngSubmit)="onSubmit()">
    <div class="row">
      
      <div class="col-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput formControlName="nombres" placeholder="Nombre(s)">
            <mat-error *ngIf="empleadoForm.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="col-6">
        <mat-form-field>
          <mat-select placeholder="Puesto">
            <mat-option value="option">Cocinero</mat-option>
            <mat-option value="option">Mesero</mat-option>
            <mat-option value="option">Cejera</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>


    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput formControlName="apellidoPaterno" placeholder="Apellido Paterno">
            <mat-error *ngIf="empleadoForm.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </div>



      <div class="col-6">
        <div class="form-group">
          <mat-form-field>
            <input matInput formControlName="apellidoMaterno" placeholder="Apellido Materno">
            <mat-error *ngIf="empleadoForm.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    

    <button type="submit" [disabled]="!empleadoForm.valid">Submit</button>

  </form>

  <p>
    Form Status: {{ empleadoForm.status }}
  </p>

</div>

<!--<form>
    <input type="text" formControlName="firstName" required>

    <div formGroupName="address">
        <h3>Address</h3>

        <label>
            Street:
            <input type="text" formControlName="street">
        </label>

        <label>
            City:
            <input type="text" formControlName="city">
        </label>

        <label>
            State:
            <input type="text" formControlName="state">
        </label>

        <label>
            Zip Code:
            <input type="text" formControlName="zip">
        </label>
    </div>
    <button type="submit" [disabled]="!empleadoForm.valid">Submit</button>
    <p>
        Form Status: {{ empleadoForm.status }}
    </p>
</form>
-->